h1.heading New Library Document for Section #{@library_section.name}
= render 'form', library_document: @library_document, 
                 library_section: @library_section,
                 posts: @posts, path: manage_library_documents_path
