default: &default
  adapter: postgresql
  encoding: unicode
  prepared_statements: false
  pool: <%= ENV["DB_POOL"] || ENV["RAILS_MAX_THREADS"] || ENV["PUMA_THREADS"] || 6 %>
  host: <%= ENV["DB_HOST"] || "localhost" %>
  username: <%= ENV["DB_USER"] || "postgres" %>
  reaping_frequency: <%= ENV["DB_REAP_FREQ"] || 10 %>

  # For details on connection pooling, see rails configuration guide
  # http://guides.rubyonrails.org/configuring.html#database-pooling
  pool: 5

development:
  <<: *default
  database: ruby-the-gryphon_development

staging:
  <<: *default
  database: ruby-the-gryphon_staging

test:
  <<: *default
  database: ruby-the-gryphon_test

production:
  <<: *default
  database: ruby-the-gryphon_production
