.panel.panel-danger
  .panel-heading
    .panel-title
      ' Reign Details
      - if reign.name?
        | for #{reign.name}
  .panel-body
    = simple_form_for reign, url: path, wrapper: :horizontal_form, html: { class: 'form-horizontal' } do |f|
      =f.input :name
      =f.association :combatant_persona
      =f.association :consort_persona
      =f.association :runner_up_persona
      =f.association :runner_up_consort_persona
      =f.association :crown_event, label_method: :name_and_date, collection: crowns
      =f.association :coronation_event, label_method: :name_and_date, collection: coronations
      =f.input :url, as: :url
      .form-group
        .col-md-3.col-sm-3
          =image_tag reign.reign_image.url, class: 'img-responsive' if reign.reign_image.present?
        .col-md-9.col-sm-9=f.input :reign_image
      .form-group
        .col-md-3.col-sm-3
          =image_tag reign.reign_map.url, class: 'img-responsive' if reign.reign_map.present?
        .col-md-9.col-sm-9=f.input :reign_map
      .form-group
        .col-md-offset-3.col-md-9
          =f.button :submit, 'Save', class: 'btn-primary'
          =link_to 'Cancel', URI(request.referrer || '').path, class: 'btn btn-info'


coffee:
  $('#reign_combatant_persona_id').selectize()
  $('#reign_consort_persona_id').selectize()
  $('#reign_runner_up_persona_id').selectize()
  $('#reign_runner_up_consort_persona_id').selectize()
  $('#reign_crown_event_id').selectize()
  $('#reign_coronation_event_id').selectize()
