// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event-summary {
  @extend .col-md-6;
  margin-bottom: 6px;
}

.event-name {
  font-weight: 800;
  font-size: larger;
}

.event-detail {
  @extend .panel;
  @extend .panel-primary;

  .heading {
    @extend .panel-heading;

    .title {
      @extend .panel-title;
    }
  }

  .body {
    @extend .panel-body;
  }

  .footer {
    @extend .panel-footer;
  }
}

.checkbox, .checkbox + .checkbox {
  margin-top: 0;
}
