p #{@submitter.name},

p Your event submission, #{link_to @event.name, @event}, has been submitted to the Event Information Officer.
p You will be notified when the submission is approved, or if it needs further information for approval.

p Sincerely,
p The Digital Henchman
