p #{@event.submitter_persona.name}

p Your event has been #{@event.submission_state} by the Event Information Officer.
p If you have any questions, you should contact them. TODO: YES WE SHOULD HAVE A LINK HERE

p Sincerely,
p The Digital Henchman